.idea/
__pycache__/
.vs/
nbodyproblem/frames/*.png
nbodyproblem/frames/*.eps
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.mas
*.pul
*.res
*.sav
concorde
music/files
monster.jpg
*.synctex.gz
output.*

frame*